
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    
    /* background-color: #FAD961; */
    /* background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%); */


    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
    /* background-color: #fcb045; */
    background-color: lightcoral;
    padding-top: 5em;
}

